body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
  }

header {
    background-color: #021024;
    color: #C1E8FF;
    
    height: 10vh;

    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
    width: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a {
    all: unset;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #C1E8FF;
}

nav ul li.active a {
    font-weight: bold;
    font-size: larger;
}

main {
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-between;

    width: 80%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}
.inputBlock {
    width: 50%;
    background-color: #fff;
    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.separator {
    height: auto;
    width: 6px;
    border-radius: 3px;
    background-color: #6E8DB5;
    margin-top: 50px;
    margin-bottom: 50px;
}

.results {
    width: 48%;
    height: 70vh;
}

.buttons {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;

    height: 50px;
}
.buttons button {
    width: 38%;
    height: 100%;

    font-weight: 500;

    border-radius: 25px;
    border: none;

    background-color: #4F7BAA;
    font-size: 16px;
    color: white;

    cursor: pointer;
}
.buttons button:hover {
    background-color: #052252;
    color: #C1E8FF;
}
.buttons button:first-of-type {
    width: 60%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}